<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css" />
    <title>Global History</title>
  </head>
  <body>

<!-- xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx -->

<div class="wrapper">
  <%- include('nav') %>

<div class="container-fluid leftside">
  <div class="row" >

    <div class="col-sm-2 left" >
    </div>

    <div class="col-sm-7 middle">
      <h1 class="text-center"> About Us </h1>
      <hr>
      <p>
        Blog = post do user viet <br/>
        Category item = post do admin viet <br/>
        admin kiem duyet Blog: User viet ---> user submit ---> cho` admin duyet ---> admin duyet ----> blog dc display trong phan Blogs <br/>
        Exhibition la tap hop 1 so item post dc chon boi admin tuy theo the loai <br/>
        admin chon cac items trong cac trang category ------> admin bam exconfig ------> admin dien cac input ---> admin preview ----> admin initiate exhibition <br/>
        delete: delete cac item post<br/>
        admin tick chon cac items trong cac trang category ----> admin bam' init delete ----> xong<br/>
        approve: duyet blog post cua user<br/>
        write: neu la user ----> viet blog<br/>
               neu la admin -----> viet category item post <br/>
        exhibition chat: chon username ---> enter ----> bat dau chat
      </p>
      <hr/>
      <p style="color: #000000;"><strong>Global History</strong> aims to provide quick, convenient, and reliable access to the best history-oriented resources online in a wide range of categories and has been designed to benefit history teachers and their students; however, general history enthusiasts will benefit from the site as well. Ranked #1 by Google for&nbsp;<i>history web sites</i>, Best of History Web Sitesd receives upwards of 100,000 visitors per month.</p>
<p style="color: #000000;">With links to over 1200 history-related web sites that have been reviewed for quality, accuracy, and usefulness, the site also includes links to K-12 history lesson plans, teacher guides, activities, games, quizzes, and more. Sites with engaging educational content and stimulating and useful multimedia technologies are most likely to be included in these pages. However, useful general resources and research-oriented sites have been included as well.</p>
<p style="color: #000000;">Suggestions are welcome and appreciated. (We receive many suggestions, so please understand that it may be months until your recommendation is reviewed.) To make any&nbsp;<a style="font-weight: bold; color: #326693;" href="/contact">suggestions, comments, questions</a>, or to be notified of updates to the Newsletter, please fill in the form located to the left. We respect` your privacy and will not provide any information regarding you to a third party.</p>
<h3 style="color: #313131;">Awards and Recognition</h3>
<p style="color: #000000;">Best of History Web Sites has won many awards and recognition, including: Blue Web’n Blue-Ribbon Web Site Award from the Pacific Bell Knowledge Network, Yahoo Pick (July 15, 2002) by Yahoo.com, The Editor’s Choice Award (“Top 5% Site in K-12 Education”) from Awesome Library, History News Network Website of the Week, USA Today Education Best Bet Award, Education World Award for October 2002, 4Teachers Site of the Week, New York Public Library “Best of Reference”, UK Department of Education for Education and Skills “Useful External Web Sites”, National University of Ireland Web Site of the Month , Schoolhouse Site of the Week, and Schools Library Journal Site of the Week.</p>
<p style="color: #000000;">Best of History Web Sites has also been recommended by: The National Council for the Social Studies, Princeton University, The British Library Net, The Detroit Free Press, History on the Net, The Denver Post, The Washington Library Media Association, ABC News Radio, Teaching History Magazine, UNESCO, Academic Info, the United States government, Landmark for Schools, Merlot, MIT Libraries, Pacific Bell’s Great Links to U.S. History, City University of New York, HistoryTeacher.net, WWW Virtual Library, Babson College Horn Library, teachersfirst.com, Philadelphia University, Teaching History Online, California State University at Northridge, University of Queensland (Australia), University of Houston-Downtown, Herriot Watt University (Scotland), ISI Web of Knowledge, Maricopa Center for Learning and Instruction, The Scout Report, Kingswood College Library, Teachnology, and others.</p>
  </div>

    <div class="col-sm-2 right" >
      <%- include('right_content') %>
      <br/>
      <div id="buttonContainer"></div>
    </div>
  </div>
</div>

</div>

<%- include('foot') %>


  </body>

</html>
