
<script src="/clientjs/adminCategory.js"></script>

<li class="nav-item">
  <a class="nav-link text-info disabled" href="/about"><i>Welcome Admin</i></a>
</li>
<li class="nav-item">
  <a class="nav-link bg-secondary text-white" href="/approve">Approve</a>
</li>
<li class="nav-item">
  <a class="nav-link bg-secondary text-white" href="/exPrep">Ex Config</a>
</li>
<li class="nav-item" id="initDelete">
  <a id="logout" class="nav-link bg-secondary text-white"  href="#">Init Delete</a>
</li>
<li class="nav-item">
  <a id="logout" class="nav-link bg-secondary text-white" href="/adminLogout">Logout</a>
</li>
