<div class="list-group categories-side">
  <span href="#" class="list-group-item text-center bg-dark text-light">Categories</span>

  <a href="/category/facts" class="list-group-item list-group-item-action list-group-item-light">Facts</a>
  <a href="/category/relics"  class="list-group-item list-group-item-action list-group-item-light">Relics</a>
  <a href="/category/people" class="list-group-item list-group-item-action list-group-item-light">People</a>
</div>


<div class=" bg-dark text-center notice position-relative" style="padding: 100px 0;">
  <a class="text-light lock stretched-link" href="/exhibition" >
    <p>Exhibition</p>
    <p>Is</p>
    <p><%= exhibitionOpened ? 'Opening' : 'Coming Soon' %></p>
    <img src="https://www.seekpng.com/png/detail/261-2618719_museum-building-vector-museum-building-logo.png" width=100 height=60 />
  </a>
</div>
